<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Editar tópicos</title>
    </head>
    <body>
    {% extends 'learning_logs/base.html' %}
    {% load bootstrap3 %}
    {% block header %}
        <h1><a href="{% url 'topic' topic.id %}">{{ topic|truncatechars:"30" }}</a></h1>
    {% endblock header %}
    {% block content %}
        <h3 class="switch">Modifique um topico existente:</h3>
        <form action="{% url 'edit_topic' topic.id %}" method="post" class="form">
            {% csrf_token %}
            {% bootstrap_form form %}
                {% buttons %}
                <button name="submit" class="btn btn-primary">Enviar</button>
                {% endbuttons %}
        </form>
    {% endblock content %}    
</body>
</html>