<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pagina inicial </title>
    </head>
    <body>
    {% extends "learning_logs/base.html" %} <!-- importando header e centralização. -->
    {% block header %} <!-- invocando header para adicinar conteúdo da pagina. -->
        <div class="jumbotron switch color">
            <h1>Acompanhe suas anotações</h1>
        </div>
    {% endblock header %} <!-- Fim de cabeçalho importado -->

    {% block content %} <!-- invocando centralização de pagina para adicinar conteúdo da pagina. -->
        {% if user.is_authenticated %}<!-- Condicional se o usuario estiver logado. -->
            <h2 class="switch">
                Faça Anotações para melhorar suas distribuições de tarefas e melhor organização do seu dia a dia
            </h2>
        {% else %}<!-- Condicional se o usuario não estiver logado. -->
            <h2 class="switch">
                <a href="{% url 'register' %}"> Crie uma conta</a>
                para ultilizar o Learning Log e liste os tópicos,
                que você esta aprendendo.
            </h2>
            <h2 class="switch">
                sempre que você aprender algo novo sobre um topico,
                faça uma entrada resumindo o que você aprendeu.
            </h2>
        {% endif %}<!-- Fim de condicional. -->
    {% endblock content %} <!-- Fim da centralização de pagina. --> 
</body>
</html>