<!DOCTYPE html>
{% extends "learning_logs/base.html" %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anotações</title>
</head>
<body>
    {% block header %}
        <div class="jumbotron switch color">
            <h1>Acompanhe suas anotações</h1>
        </div>
    {% endblock header %}

    {% block content %}
        {% if user.is_authenticated %}
            <h2 class="switch">
                Faça Anotações para melhorar suas distribuições de tarefas e melhor organização do seu dia a dia
            </h2>
        {% else %}
            <h2 class="switch">
                <a href="{% url 'register' %}"> Crie uma conta</a>
                para ultilizar o Learning Log e liste os tópicos,
                que você esta aprendendo.
            </h2>
            <h2 class="switch">
                sempre que você aprender algo novo sobre um topico,
                faça uma entrada resumindo o que você aprendeu.
            </h2>
        {% endif %}
    {% endblock content %}

</body>
</html>