<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends "learning_logs/base.html" %}
    {% block header %}
        <h1 class="switch"> Tópicos: </h1>
    {% endblock header %}
    {% block content %}
        <ul>
            {% for topic in topics %}
                <li>
                    <h3>
                        <a href="{% url 'topic' topic.id %}">{{ topic }}</a>                      
                    </h3>
                        <div class="btnt">
                            <form action="{% url 'delete_topic' topic.id %}" method="post"> 
                                {% csrf_token %}                       
                                <button type="submit" class="btn btn-primary">
                                    Deletar
                                </button>
                            </form>
                        </div>
                </li>
            {% empty %}
                <h3>Não há topicos adicionados.</h3>
            {% endfor %}
        </ul>
        <h3>
            <a href="{% url 'new_topic' %}">Adicionar novos tópicos</a>
        </h3>
    {%endblock content %}
</body>
</html>