<!DOCTYPE html>
{% extends "learning_logs/base.html" %}
{% load bootstrap3 %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block header %}
        <h2 class="switch">
            Entre com sua conta de login:
        </h2>
    {% endblock header %}
    {% block content %}
            <form action="{% url 'login' %}" method="post" class="ul_none form switch">
                <div class="form-group">
                    {% csrf_token %}
                    {% if error %}
                    <p style="background-color: red;">O usuario ou a senha esta incorreto</p> 
                    {% else %}
                    {{ form }}
                </div>
                    <button name="submit" class="btn btn-primary">Entrar</button>
                    {% endif %}  
            </form>     
            {% buttons %}
            {% endbuttons %}
            <input type="hidden" name="next" value="{% url 'index' %}">
        </form>
        {% endblock content %}
</body>
</html>