<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends "learning_logs/base.html" %}
    {% load bootstrap3 %}
    {% block header %}
        <h2 class="switch">
            Entre com sua conta de login
        </h2>
    {% endblock header %}
    {% block content %}
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
            </form>     
            {% buttons %}
            <button name="submit" class="btn btn-primary">Entrar</button>
            {% endbuttons %}
            <input type="hidden" name="next" value="{% url 'index' %}">
        </form>
    {% endblock content %}
</body>
</html>