<!DOCTYPE html>
{% extends "learning_logs/base.html" %}
{% load bootstrap3 %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block header %}
        <h2 class="switch">
            Entre com sua conta de login:
        </h2>
    {% endblock header %}
    {% block content %}
            <form action="{% url 'login' %}" method="post" class="ul_none form switch">
                <div class="form-group">
                    {% csrf_token %}
                    {% if error %} <!-- Caso possua error ele vai imprimir o paragrafo. -->
                        <p style="background-color: red;">O Úsuario ou a senha estão incorreto(s)</p> 
                    {% else %}<!-- Se não possuir erros ele imprimira o formulario para o usuario. -->
                        {{ form }}
                </div> 
                        <button name="submit" class="btn btn-primary">Entrar</button>
                    {% endif %}  
            </form>        
        </form>
        {% endblock content %}
</body>
</html>